<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}?v=26" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}?v=26" />
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}?v=26"></script>

    <meta charset="UTF-8">
</head>
<body>



<div class="container">

    <div class="panel" style="background-color:transparent;">
        <div class="panel-body">

            <div class="row">
                <div class="pull-left blue-box logo-box box text-center">
                    <h2>
                        MeShop
                    </h2>
                </div>
                <div class="pull-left">
                    <div class="">
                       <div class="pull-left green-box box head-box">111</div>
                       <div class="pull-left orange-box box head-box">222</div>
                    </div>
                    <div class="">
                       <div class="pull-left green-box box head-box">3333</div>
                       <div class="pull-left light-blue-box box head-box">4444</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


            {% block content %}
            {% endblock %}
</div>

</body>
</html>