{% if user.is_authenticated %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<div class="admin-actions">
    <div class="">
        <div class="row">
          <div class="col-md-6">
            Provider
          </div>
          <div class="col-md-6">
            <a data-toggle="popover" title="{{product.provider.name}}" data-content="And here's some amazing content. It's very engaging. Right?">{{product.provider.name}}</a>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            Category
          </div>
          <div class="col-md-6">
            {{product.category.name}}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            Status
          </div>
          <div class="col-md-6">
            {{product.status}}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            Provider Price
          </div>
          <div class="col-md-6">
            {{product.provider_price}}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            Expires on
          </div>
          <div class="col-md-6">
            {{product.expiration_date}}
          </div>
        </div>
        <hr />
        <div class="row text-right">
          <div class="col-md-12">
            <button class="btn btn-info btn-sm">
                <a target="_blank" href="/admin/products/product/{{product.pk}}" >Edit Product</a>
            </button>
          </div>
        </div>
    </div>
</div>
{% endif %}